.card {
    flex-grow: 1;

}

.textDesc {
    height: 36px;
    font-size: 0.6rem;
}

.cardFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.btn {
    width: 50px;
    margin: 0 0.2rem;
    display: inline-block;
    font-size: 0.5rem !important;
}